@import "variable";
@import "mixin";
@import "responsive";



#breadcrumb {
    background-color: $color-white;
    padding: 5px 0 10px 0;

    & ol {
        height: 100%;
        display: flex;
        align-items: center;

        & .breadcrumb-item,
        .devider {
            margin-right: 10px;

            & a {
                font-size: $font-primary;
                color:$primary-color;
                font-weight:$font-bold;
            }

            & i {
                font-weight: $font-bold;
                color:$color-btn;
            }
        }
    }
}

// Main Content
#listing-sec {
    background: $color-listing-sec;

    & .options-part {
        background-color: $color-white;
        padding: 15px 15px;
        @include radius-md();
        box-shadow: 0px 0px 3px $color-gry-light;
        position: sticky;
        top: 0;

        & .heading {
            color: $color-dark;
            font-size: $font-heading ;
        }

        & .check-in,
        .check-out {
            & label {
                font-size: $font-extra-sm;
                color: $color-gry;
                margin-bottom: 5px;
            }

            & .input-group {
                & input {
                    font-size: $font-extra-sm;
                    padding: 10px 12px;
                    border-left: 5px solid $color-btn !important;
                    border-top: 2px solid $color-gry !important;
                    border-bottom: 2px solid $color-gry !important;
                    background-color:$primary-color;
                    color:$color-white;
                    &::placeholder{
                        color:$color-white;
                    }
                }

                & .input-group-append {

                    & .input-group-text {
                        border: none !important;
                        height: 100% !important;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        background: $color-btn !important;
                        margin: 0 !important;

                        & i {
                            color: $color-white;
                        }
                    }
                }
            }
        }

        & .input-pill {
            & .rooms {
                text-align: center;

                & label {
                    font-size: $font-extra-sm;
                    color: $color-gry;
                    margin-bottom: 5px;
                    width: 100%;
                    text-align: left;
                }

                .input-wrapper {
                    outline: 1px solid $color-gry;
                    @include radius-sm();
                    display: inline-block;
                    width: 100%;
                    font-size: $font-extra-sm;

                    & input {
                        text-align: center;
                    }
                    & .incrmt{
                        border-left:1px solid $color-gry;
                        border-bottom:1px solid $color-gry;
                    }
                    & .dcrmt{
                        border-left:1px solid $color-gry;
                    }
                }

                .input-wrapper * {
                    border: none;
                }

                .input-wrapper button:first-child {
                    width: 100%;
                    font-size: $font-extra-sm;
                    width: 50px;
                    padding: 0 !important;
                    color:$color-white;
                    background:$primary-color;
                }

                .input-wrapper button:last-child {
                    width: 100%;
                    font-size: $font-extra-sm;
                    width: 50px;
                    padding: 0 !important;
                    color:$color-white;
                    background:$primary-color;
                }
            }
        }

        & .star-ratings,
        .facilities {
            & .heading {
                color: $color-dark;
                font-size: $font-heading ;
            }

            & .ratings-menu,
            .facility-menu {
                & li {
                    margin: 5px 0;
                }

                & .form-check-input {
                    border: 2px solid $color-btn !important;
                    @include radius-sm();
                    margin-right: 5px;
                }

                & .facility {
                    font-size: $font-extra-sm;
                    color: $color-gry;
                }

                & label {
                    & .stars {
                        & i {
                            font-size: $font-extra-sm;
                            color: $color-rating;
                        }

                        & span {
                            font-size: $font-extra-sm;
                            margin-left: 5px;
                            color: $color-gry;
                        }
                    }
                }
            }
        }

        & .srch-btn {
            & .cmn-btn {
                @include cmn-btn();
                padding: 10px 20px;
                border-radius: 5px;
                display: inline-block;
                width: 100%;
                text-align: center;
                margin-top: 5px;
                box-shadow: 0px 0px 5px $color-white;
            }
        }
    }

    & .hotels-part {
        padding-left: 30px;

        & .heading {
            color: $color-gry;
            font-size: $font-heading ;

            & span {
                color: $color-btn;
            }

            border-bottom:1px solid $color-gry-light;
            padding-bottom:10px;
        }

        & .hotel-contnr {
            background-color: $color-white;
            padding: 15px 15px;
            @include radius-md();
            box-shadow: 0px 0px 3px $color-gry-light;

            & .image {
                overflow: hidden;
                @include radius-md();
                position: relative;

                & img {
                    @include radius-md();
                    @include tnsn-first();
                    filter: brightness(0.8);
                }

                & .sale {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    padding: 1px 10px;
                    @include radius-sm();
                    font-size: $font-extra-sm;
                    background: $primary-color;
                    color: $color-white;
                }

                & .stars {
                    position: absolute;
                    top: 10px;
                    right: 10px;

                    & ul {
                        & li {
                            margin-right: 4px;

                            & i {
                                color: $color-rating;
                                font-size: $font-extra-sm;
                            }
                        }
                    }
                }

                & .htl-reviews {
                    position: absolute;
                    bottom: 10px;
                    left:0;
                    padding:0 5px;
                    background: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & span{
                        margin-right:8px;
                    }
                    & .review-amnt,
                    .quality {
                        color: $color-white;
                        font-size: $font-extra-sm;
                    }

                    & .rating {
                        color: $color-white;
                        font-size: $font-extra-sm;
                        background: $primary-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                        width: 35px;
                        outline:3px solid $color-gry-trsp;
                        @include radius-sm();
                    }
                }
            }

            & .contnt {
                & .name {
                    & a {
                        font-size: $font-heading;
                    }
                }

                & .address {
                    padding-bottom: 10px;
                    border-bottom: 1px dotted $color-gry-light;

                    & a {
                        font-size: $font-extra-sm;
                        color: $color-gry;

                        & span {
                            color: $primary-color;
                            margin-right: 4px;
                        }
                    }
                }

                & .para {
                    font-size: $font-extra-sm;
                    color: $color-gry;
                }

                & .facilities {
                    & .menu {
                        padding-bottom: 10px;
                        border-bottom: 1px dotted $color-gry-light;

                        & li {
                            margin-right: 10px;

                            & i {
                                position: relative;

                                & span {
                                    position: absolute;
                                    width: 90px;
                                    text-align: center;
                                    padding: 5px 5px;
                                    font-family: $primary-font;
                                    font-size: $font-extra-sm;
                                    background: $primary-color;
                                    color: $color-white;
                                    @include radius-sm();
                                    top: -36px;
                                    left: 0;
                                    opacity: 0;
                                    visibility: hidden;
                                }

                                &:hover span {
                                    opacity: 1;
                                    visibility: visible;
                                }

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                & .rent {
                    display: inline-block;
                    background: $color-listing-sec;
                    font-size: $font-primary;
                    padding: 12px 15px;
                    color: $color-gry;
                    @include radius-sm();

                    & span {
                        margin-left: 4px;
                        color: $color-dark;
                    }
                }

                & .actions {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & a {
                        margin-left: 5px;
                        background-color: $color-listing-sec;
                        color: $primary-color;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include radius-sm();
                        position: relative;

                        & i {
                            @include tnsn-first();
                        }

                        & span {
                            position: absolute;
                            width: 110px;
                            text-align: center;
                            padding: 5px 5px;
                            font-size: $font-extra-sm;
                            background: $primary-color;
                            color: $color-white;
                            @include radius-sm();
                            top: -36px;
                            left: 0;
                            opacity: 0;
                            visibility: hidden;
                        }

                        &:hover span {
                            opacity: 1;
                            visibility: visible;
                        }

                        &:hover i {
                            @include trnsform-trslat();
                        }
                    }

                    & a:nth-child(2) {
                        & span {
                            left: -15px;
                        }
                    }

                    & a:nth-child(3) {
                        & span {
                            left: -60px;
                        }
                    }
                }
            }

            &:hover {
                & img {
                    @include trnsform-scale();
                }
            }
        }

        & .pagination {
            & .page-item {
                width: 40px;
                text-align: center;

                & a {
                    padding: 8px 0;
                    color: $primary-color;
                    border: 1px solid $primary-color-trsp;
                }

                & a:focus {
                    box-shadow: none !important;
                }

                & a:hover {
                    background: $color-btn-trsp;
                }
            }

            & a:focus {
                background: $color-btn-trsp;
            }
        }
    }
}