@import "variable";
@import "mixin";

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1250px;
  }
}

// body::-webkit-scrollbar {
//   width: 0.8rem;
//   background-color: $color-white;
// }

// body::-webkit-scrollbar-thumb {
//   background: $color-gry
// }

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

input {
  border: none !important;
  width: 100%;
}

textarea {
  border: none !important;
  width: 100%;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  @include tnsn-first();
}

// HEADER SECTION
.header-top {
  background-color: $color-white;
  border-top:2px solid $primary-color;
  & .form-container{
    & .form{
      border-right:2px solid $primary-color;
      & input::placeholder{
        color:$primary-color;
       
      }
      & .input-group-append{
        & .input-group-text{
          background-color:$color-white !important;
          border: none !important;
          & i{
            color:$primary-color;
          }
        }
      }
    }
  }
  & .guest-amnt{
    border-right:2px solid $primary-color;
    & .guest{
      position:relative;
      & select{
        border:none;
        background-image:none;
        position:relative;
        color:$primary-color;
        & option{
            & :hover{
              background-color:$color-fourth !important;
            }
        }
      }
      & i{
        position: absolute;
        right:20px;
        top: 10px;
        color:$primary-color;
      }
    }
  }
  & .srch-lnk{
    border-right:2px solid $primary-color;
    padding: 0;
    & .lnk{
      & a{
        display:flex;
        align-items: center;
        justify-content: center;
        color:$primary-color;
        background-color:$color-fourth;
        width: 100%;
        height: 100%;
      }
    }
  }
  & .lgn-snp-lnk{
    & .lnk{
      & a{
        display:flex;
        align-items: center;
        justify-content: center;
        color:$primary-color;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        & img{
          max-width:25px;
          margin-right: 10px;
        }
      }
    }
  }
}



.datepicker-dropdown{
  top:49px !important;
  background-color:$color-white;
}
.datepicker-days{
  min-width:200px !important;
  top:45px !important;
  left:60px !important;
  padding:0 20px !important;
}
.datepicker .datepicker-switch,.datepicker td,.datepicker th{
  color:$primary-color !important;
  font-weight: lighter !important;
}
.datepicker table tr td.new, .datepicker table tr td.old{
  color:$secondary-color-trsp !important;
}
.datepicker td, .datepicker th{
  min-width:35px !important;
}
// .datepicker-dropdown:after{
//   border-bottom:6px solid $color-dark;

// header bottom
#myHeader {
  // position: fixed;
  top: 0;
  z-index: 999;
}

#myHeader.sticky {
  z-index: 999;
  @include tnsn-first();
  background-color: $primary-color;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#myHeader {
  background-color: $primary-color;

  & .navbar-brand {
    color: $color-white;
    font-family: $third-font;
  }

  & .nav-item {
    margin: 0 20px;

    & .nav-drpdn {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        font-family: "FONTAWESOME";
        top: 7px;
        right: -6px;
      }
    }
  }

  & .nav-link {
    color: $color-white;
  }
}

// BOOKING SECTION
#bkng-section {
  position:relative;
  & .owl-dots {
    display: none;
  }
  & .owl-nav {
    display: block !important;
    & .owl-prev {
      position: absolute;
      top: 20%;
      left: 0;
      visibility: hidden;
      & span::before {
        content: "";
        position: absolute;
        font-family: FONTAWESOME;
        font-size: 40px;
        top: 62px;
        left: 30px;
        visibility: visible;
        padding: 0px 24px;
        border-radius: 52px;
        visibility: visible;
        color: $color-white;
      }
    }

    & .owl-next {
      position: absolute;
      top: 20%;
      right: 0;
      visibility: hidden;

      & span::before {
        content: "\f105";
        position: absolute;
        font-family: FONTAWESOME;
        font-size: 40px;
        top: 62px;
        right: 30px;
        visibility: visible;
        padding: 0px 24px;
        border-radius: 52px;
        visibility: visible;
        color: $color-white;
      }
    }
  }
    & .item{
      position: relative;
      &::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0000005d;
        z-index: 2;
      }
      & img{
        position: relative;
      }
      & .content{
        position:absolute;
        bottom:25%;
        left:30%;
        z-index: 4;
        & .heading-cntnt{
          color:$color-fourth;
          font-size:$font-big;
          font-family: Satisfy;
          font-weight:$font-bold;
          letter-spacing: 5px;
        }
        & .para-cntnt{
          color:$color-fourth;
          font-size:$font-big;
          font-weight:$font-bold;
          text-align: end;
          letter-spacing: 5px;
        }
      }
  }
}
// OFFER SECTION
#ofr-sctn{
  & .ofr-contner{
    background-color:$primary-color;
    padding: 15px 10px;
    border-radius: 5px;
  & .image{
    position: relative;
    & img{
      border-radius: 10px;
      position:relative;
    }
    & img::after{
      content:"";
      position: absolute;
      top: 0;
      left:0;
      width:500px;
      height:500px;
      background-color:$secondary-color-trsp;
    }
    & .ofr-text{
      position: absolute;
      top:20px;
      left:0;
      background:$secondary-color-trsp;
      color:$color-white;
      padding: 0 8px;
    }
  }
  & .txt-bx{
    border-radius: 5px;
    & .txt{
      & .txt-prcnt{
        & span{
          font-size:$font-med;
          font-weight:$font-bold;
          color:$color-fourth;
          font-family:$fourth-font;
        }
      }
      & .on-al{
        & span{
          font-size:$font-med;
          letter-spacing: 5px;
          font-family:$fourth-font;
          color:$color-fourth;
          font-weight:$font-bold
        }
      }
      & .bk-nw{
        & a{
          color:$primary-color;
          background:$color-fourth;
          padding: 15px 45px;
        }
      }
    }
  }
  & .qr-cntnr{
    & img{
      max-width:200px;
      border-radius: 10px;
    }
  }
}
}

// POPULAR HOTELS SECTION

#pp-hotels{
  background:url("../../images/hotels-bg.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  position:relative;
  padding: 35px 0 0 0;
  &::before{
    content:"";
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: $primary-color-trsp;
  }
  & .content{
    padding: 30px 0 0 0;
    & .heading{
      color:$color-fourth;
    font-size:$font-sm;
    font-weight:$font-bold;
    }
    & .para{
      color:$color-fourth;
      font-size:$font-primary;
    }
    & a{
      color:$primary-color;
      background:$color-fourth;
      font-size:$font-primary;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
  & .carousel-pp{
    & .owl-dots {
      display: none;
    }
    & .owl-nav {
      display: block !important;
      & .owl-prev {
        position: absolute;
        top: 20%;
        left: 0;
        visibility: hidden;
        & span::before {
          content: "";
          position: absolute;
          font-family: FONTAWESOME;
          font-size: 40px;
          top: 32px;
          left: -10px;
          visibility: visible;
          padding: 0px 24px;
          border-radius: 52px;
          visibility: visible;
          color: $color-white;
        }
      }
  
      & .owl-next {
        position: absolute;
        top: 20%;
        right: 0;
        visibility: hidden;
  
        & span::before {
          content: "\f105";
          position: absolute;
          font-family: FONTAWESOME;
          font-size: 40px;
          top: 32px;
          right: -10px;
          visibility: visible;
          padding: 0px 24px;
          border-radius: 52px;
          visibility: visible;
          color: $color-white;
        }
      }
    }
  }
}