$primary-color:#cf2e2e;
$primary-color-trsp:#cf2e2e54;
$secondary-color:#ee521f;
$secondary-color-trsp:#ee521fc9;
$color-white:#fff;
$color-fourth:#e6e9ee;
$color-btn:#ff8400;
$color-btn-trsp:#ff8400b8;
$color-gry:#797979;
$color-gry-light:#b7b7b7;
$color-gry-trsp:#80808085;
$color-dark:#000;
$color-dark-tsnsp:#00000094;
$primary-font:poppins;
$secondary-font:Raleway;
$third-font:Satisfy;
$fourth-font:QUICKSAND;
$font-bold:700;
$font-extra-sm:13px;
$font-primary:14px;
$font-heading:20px;
$font-sm:30px;
$font-med:40px;
$font-big:60px;