$primary-color: #cf2e2e;
$primary-color-trsp: rgba(207, 46, 46, 0.925);
$secondary-color: #ee521f;
$secondary-color-trsp: #ee521fc9;
$color-white: #fff;
$color-fourth: #e6e9ee;
$color-btn: #26bee2;
$color-btn-trsp: #26bfe2be;
$color-gry: #797979;
$color-gry-light: #b7b7b7;
$color-gry-trsp: #dfdfdf85;
$color-dark: #000;
$color-dark-tsnsp: #00000094;
$color-rating: #f1c40f;
$color-listing-sec: #26bee233;
$primary-font: poppins;
$secondary-font: Raleway;
$third-font: Pacifico;
$fourth-font: DM Sans;
$font-bold: 700;
$font-extra-sm: 13px;
$font-primary: 14px;
$font-secondary: 16px;
$font-heading: 20px;
$font-sm: 30px;
$font-med: 40px;
$font-big: 60px;