$primary-color:#ee521f;
$primary-color-trsp:#ee521f87;
$color-white:#fff;
$color-fourth:#e6e9ee;
$color-hover:#9e1b04;
$color-bg:#f5f5ff;
$color-bg-trsp:#f5f5ffd4;
$color-gry:#797979;
$color-gry-light:#b7b7b7;
$color-gry-trsp:#80808085;
$color-dark:#000;
$color-dark-tsnsp:#1e272ec4;
$color-rating:#f39c12;
$primary-font:poppins;
$secondary-font:Raleway;
$third-font:Satisfy;
$font-bold:700;
$font-primary:14px;
$font-heading:20px;
$font-big:60px;